/Ejemplos/nbproject/private/
/Ejemplos/build/
/trabajo grupal/nbproject/private/
/trabajo grupal/Pregunta01/nbproject/private/
/trabajo grupal/Pregunta02/nbproject/private/
/Pregunta03/Pregunta01/nbproject/private/
/Pregunta03/Pregunta02/nbproject/private/
/Pregunta03/nbproject/private/
/Pregunta01/nbproject/private/
/Pregunta02/nbproject/private/
/Pregunta01/build/
/Pregunta02/build/
/Pregunta03/build/
